<h1 class="align">Matcher:</h1>

<mat-tab-group>
  <mat-tab label="All available positions">
    <app-jobs [allJobs]="allJobs"></app-jobs>
  </mat-tab>
  <mat-tab label="Tell us about yourself">
    <app-candidate-info (dataChange)="newCandidate($event)"></app-candidate-info>
  </mat-tab>
  <mat-tab label="Find the job for you">
    <app-jobs *ngIf="(candidate && candidate.title != ''); else error" [ShoeDescription]="true" [allJobs]="allJobs | candidateJob: candidate"></app-jobs>
    <ng-template #error>
      <h3 class="align">First you need to add information about yourself</h3>
    </ng-template>
  </mat-tab>
</mat-tab-group>

